doctype html

html(lang="en")
    head
        script(defer src="scripts/script.js")
        link(rel="stylesheet" href="style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet")
        title Read &amp; React

    body
        //Header
        div(class="h1--back-color")
            h1 Read &amp; React
        div(class="sep--line")
            //Day counter and Start button
            div(class="clickable--btn")
                div(class="start--game hover")
                    p(class="day--counter hidden") Day 1
                    p(class="start--button") START

        //Game buttons
        div(class="buttons--div hidden")
            div(class="player--option_button")
                div(class="player--option-1_div player--option")
                    p(class="player--option-1") Fight
            div(class="player--option_button")
                div(class="player--option-2_div player--option")
                    p(class="player--option-2") Run
        
        //How to play button
        div(class="button--how")
            div(class="btn--how-to-play")
                p(class="button--how-to-play") How to play

        //How to play modal window
        div(class="modal--window hidden")
            div(class="close--modal") X
            div(class="modal--content")
                h2 Intro
                p(class="modal--text") 
                    |   Read &amp; React is a game where you have only two options as the player. Fight or Flight.
                    |   The goal of the game is to pass as many days as possible without dying. Just read the event and decide if
                    |   you want to roll the dice. It is very important
                    |   to evaluate if you should fight, as fighting an opponent while unarmed or out-gunned has a higher chance to injure
                    |   you or kill you. Each encounter is randomly generated as are the items you find.
                h2 Debuffs
                p(class="modal--text")
                    |   If you are injured you can heal using a medkit, if you dont have one, thats a real shame. But dont worry, you can find them easily.
                    |   Generally, you have a small chance of dying while fighting an enemy while both of you are unarmed. However
                    |   if your enemy happens to have an axe and you dont.. Your chances of dying are now 50%, best option here is to flee, correct?
                    |   Yes and no. Why is that? Fighting an enemy and coming out on top often yields rewards such as items that will help you survive
                    |   for longer and increase your chances of winning your next encounter. Debuffs such as broken legs or major injuries reduce the 100%
                    |   chance you have of escaping down to 50% or less depending on the type of injury. 
                h2 Items
                p(class="modal--text")
                    |   Items can be a lifesaver, especially the medkit. Having internal bleeding while you dont have a medkit guarantees 
                    |   your death within a few days. Other items such as a Bow, Axe or Gun significanly increase your chances of beating your
                    |   opponent. Especially the gun. However, dont be fooled, as you still have a very slim chance of being injured and if youre unlucky even
                    |   killed. Having a better weapon than your opponent increases your chance of winning that encounter by a mile. 

        div(class="overlay hidden")

        //Player area
        div(class="player--area hidden")
            div(class="display--body")
                div(class="player--debuffs-div")
                    p(class="player--debuffs") Debuffs
                    ul(class="player--debuffs-list")
                div(class="player--div")
                    p(class="player--event") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore eos voluptate nihil laudantium deserunt exercitationem nulla nisi impedit quae modi necessitatibus obcaecati, aliquam enim, excepturi suscipit veritatis soluta dicta.
                div(class="equipment--tracker-div")
                    p(class="player--equipment") Items
                    ul(class="player--equipment-list")
        
        footer(class="current--version") v0.1